body{
  background-color: #FAF8F0;
  font-family: "Georgia","Cochin", "Palatino";
}

/* NOT LOGGED IN */
.navigation-container-nonLog{
  /* border: 3px solid red; */
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.nonlog-buttons{
  /* border: 3px solid #A57945;
  background-color: #47629a; */
  position: fixed;
  border-radius: 10px;
  width: 45vw;
  margin-top: 150px;
  position:fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  z-index: 3;
  
}

#nonlog-video-item{
  border: 3px solid rgba(0, 0, 0, .75);
  /* box-shadow: 0px 0px 10px 5px; */
  /* margin-top: 15px; */
  position: sticky;
  height: 100vh;
  width: 100vh;
  z-index: -5;

}

.nonlog-link{
  transition: ease-in;
  transition-duration: 250ms;
  /* background-color:rgba(220, 196, 142, .90); */
  background-color: #D0D3D4;
  /* border: 3px solid #A57945; */
  border: 1px solid black;
  height:20;
  border-radius: 10px;
  padding: 20px 40px;
}

.nonlog-link:hover{
  transition: ease-in;
  transition-duration: 250ms;
  /* background-color: #A57945; */
  background-color:#7C7E7E;
  color: #faf8f0;
  border: 5px solid rgba(5, 40, 75 .5);
  box-shadow: 0px 0px 10px 3px #05284B;

}

.nonlog-item{
  color:#4F646F;
  font-weight: bolder;
  text-decoration: none;
  font-size: 20px;
}

.nonlog-item:hover{
  color: #faf8f0;
}

button{
  transition: ease-in;
  transition-duration: 250ms;
  /* border: 1px solid #A57945; */
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px 40px;
  background-color:#7C7E7E;
  /* color:#4F646F; */
  color: #faf8f0;

  font-weight: bolder;
  text-decoration: none;
  font-family: "Georgia","Cochin", "Palatino";
  font-size: 20px;
  cursor: pointer;
}

button:hover{
  transition: ease-in;
  /* color: #faf8f0; */
  color:#4F646F;

  transition-duration: 250ms;
  /* background-color:rgba(5, 40, 75, 1); */
  background-color: #D0D3D4;

  border: 5px solid rgba(5, 40, 75 .5);
  box-shadow: 0px 0px 10px 3px #05284B;
}

/* LOGGED IN AKA NAV BAR */

.navigation-container{
  /* border: 3px solid purple; */
  /* background-color: #4F646F; */
  background-color: #003559;
  box-shadow:0px 2px 10px black;
  width: 98vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 200px;
  margin: 0;
  padding: 0;
}
.navlog-buttons-section{
  /* border: 3px solid orange; */
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.nav-log-buttons-container{
  /* border: 3px solid violet; */
  margin-left: 30%;
  margin-right: 5%;
  width: 65%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.nav-log-video-container{
  /* border: 3px solid yellow; */
  height: 200px;
}

.nav-logo{
  max-width: 100%;
  max-height: 100%;
}

.profile-dropdown-container{
  border-radius: 20px;
  background-color: rgba(250, 248, 240, .5);
  padding-right: 10px;
}

li{
  list-style-type: none;
}
